<div class="col-lg-4">
    <div class="box">
        <div class="row">
            <div class="col-lg-6">
                <div class="box1">
                    <a href="~/Images/cSharp.jpg"><img src="~/Images/c-sharp.jpg"></a>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="box1">
                    <h5>C#</h5>
                    <p>c_Sharp</p>
                </div>
            </div>
            <p>It is an object-oriented programming language created by Microsoft that runs on the .NET Framework.C# has roots from the C family, and the language is close to other popular languages like C++ and Java.The first version was released in year 2002.</p>
        </div>
    </div>
</div>