<div class="col-lg-4">
    <div class="box">
        <div class="row">
            <div class="col-lg-6">
                <div class="box1">
                    <a href="~/Images/MVC-image.jpg"><img src="~/Images/MVC.jpg"></a>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="box1">
                    <h5>MVC</h5>
                    <p>ModelViewController</p>
                </div>
            </div>
            <p>MVC (Model-View-Controller) is a pattern in software design commonly used to implement user interfaces, data, and controlling logic. It emphasizes a separation between the software's business logic and display. This "separation of concerns" provides for a better division of labor and improved maintenance. Some other design patterns are based on MVC, such as MVVM (Model-View-Viewmodel), MVP (Model-View-Presenter), and MVW (Model-View-Whatever)</p>
        </div>
    </div>
</div>