

<div class="main">
    <!--First Grid Start-->
    <div class="row">


        <!-- MVC box Start-->
       <partial name="_MVC" />
        <!-- MVC box End-->


        <!-- C# box Start-->
         <partial name="_Csharp" />
        <!-- C# box End-->



        <!-- Html box Start-->
        <partial name="_Csharp" />
        <!-- Html box End-->
    </div>    
    
        <!--First Grid End-->
    

    <!--Second Grid Start-->
    <div class="row">
        <!-- Css box-->
        <partial name="_Csharp" />
        <!--css box End-->


        <!-- Entity box Start-->
         <partial name="_MVC" />
        <!-- Entity box End-->


        <!-- Sql box Start-->
        <partial name="_MVC" />
        <!-- Sql box End-->
    </div>
    <!--Second Grid End-->
</div>