

<script>
   
    $(document).ready(function(){

        $("#btnLoadAllEmployees").click(    
        function(){

            alert("Button is clicked");

            $.ajax(
            
            {
                url:"",
            }
            
            );

        });
    });
  


    


</script>


<div id="indexDiv">
    <button type="button" class="btn-primary btn" id="btnLoadAllEmployees">Load All Employees</button>

</div>


